.flightshop-index-link-image {
    max-width: 310px;
}

.flightshop-exclude-link-style {
    color: #222;
}
.flightshop-index-link-section {
    text-align: center;
}
    .flightshop-index-link-section a:hover {
        text-decoration: none;
    }
    .flightshop-index-link-section:hover {
        cursor: pointer;
    }
    .flightshop-index-link-section:hover .flightshop-index-link-text {
        text-decoration: underline;
    }

#flightshop-products-index-container {
    padding-top: 0.25em;
}

#flightshop-home-description {
    padding-top: 1em;
    width: 50%;
    min-width: 600px;
}

